# Postgres
POSTGRES_USER=abcd1234
POSTGRES_PASSWORD=abcd1234
POSTGRES_DB=northwind
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
PGADMIN_EMAIL=admin@pgadmin.com
PGADMIN_PASSWORD=admin1234

# Database URLs
DATABASE_URL=postgresql://abcd1234:abcd1234@postgres:5432/northwind

# App
ENV=dev
SCAN_INTERVAL_MINUTES=30